<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button"
          defaultHref="/"
          text="Volver"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">UNETE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      
  
    <!-- Formulario en Alert Prompt 
    <ion-button (click)="presentAlertPrompt()" expand="block"  shape="round">
      <ion-icon slot="start" name="logo-reddit"></ion-icon>
      Registrar
    </ion-button> -->

      <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
        <ion-list-header>
          <ion-label class="label">¿No tienes cuenta? Regístrate! </ion-label>
        </ion-list-header>
        
        <ion-item>
          <ion-label class="label-form" position="floating">Usuario: </ion-label>
          <ion-input class="form-input" type="user" placeholder="Nombre de Usuario"
                    name="user" [(ngModel)]= "usuario.user"
                    pattern="([A-Za-z0-9]{2,7})$"
                    required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label-form" position="floating">Nombre: </ion-label>
          <ion-input class="form-input" type="nombre" placeholder="Nombre"
                    name="nombre" [(ngModel)]= "usuario.nombre"
                    pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]{3,25})$"
                    required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label-form" position="floating">Apellido: </ion-label>
          <ion-input class="form-input" type="apellido" placeholder="Apellido"
                    name="apellido" [(ngModel)]= "usuario.apellido"
                    pattern="([a-zA-ZñÑáéíóúÁÉÍÓÚ\s]{3,25})$"
                    required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label-form" position="floating">Email: </ion-label>
          <ion-input class="form-input" type="email" placeholder="Email"
                    name="email" [(ngModel)]= "usuario.email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    required>
          </ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label class="label-form" position="floating">Password: </ion-label>
          <ion-input class="form-input" type="password" placeholder="Contraseña"
                    name="password" [(ngModel)]= "usuario.password"
                    required>
          </ion-input>
        </ion-item>
        
        <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" routerLink="/inicio" shape="round">
          Registrar
        </ion-button>
    
      </form>

    </ion-card-content>  
  </ion-card>


</ion-content>
