<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button"
          defaultHref="/"
          text="Volver"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">CONOCE MAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title class="ion-padding principal-title">Te invitamos a conocer de las energías alternativas y ayudar a cuidar el planeta junto con nosotros</ion-card-title>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">¿Qué son las energías alternativas?</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      Energía alternativa es un sinónimo para energía limpia, energía verde o energía renovable. Se consideran alternativas todas aquellas que provienen de recursos naturales y de fuentes inagotables, todas aquellas que, al producirlas, no contaminan.    </ion-card-content>
    <a href="https://energia.gob.cl/educacion/que-son-las-energias-renovables" target="_blank">
      <ion-img src="assets/img/img-5.png"></ion-img>
    </a>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">¿Qué tipos de energías alternativas existen?</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      Existen diferentes tipos de energías renovables. Partimos de la base de que podemos obtener energía de muchas maneras, solo hay que transformarla, en este caso, en energía eléctrica. En la naturaleza podemos encontrar variedad de fuentes inagotables de las que extraer energía, como el viento, el agua o el sol, entre otras.   </ion-card-content>
    <a href="https://www.enel.cl/es/conoce-enel/la-energia-de-chile-se-transforma.html" target="_blank">
      <ion-img src="assets/img/img-4.jpg"></ion-img>
    </a>
  </ion-card>

</ion-content>
