<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button class="back-button"
          defaultHref="/"
          text="Volver"
          mode="ios"></ion-back-button>
    </ion-buttons>
    
    <ion-title class="title">Tipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA SOLAR</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía solar es el aprovechamiento de la energía que proviene del sol. El sol es una fuente de energía inagotable y abundante, la radiación solar se distribuye por todo el planeta de una forma más o menos uniforme.
    </ion-card-content>
    <ion-img src="assets/img/card-1.jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA EÓLICA</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía eólica se obtiene de la fuerza del viento a través de un equipo llamado aerogenerador, que imita el funcionamiento de los molinos de viento. Las palas del equipo (hélice) giran con la fuerza del viento y producen energía eléctrica mediante un generador denominado ‘roto’ colocado en la estructura del equipo.
    </ion-card-content>
    <ion-img src="assets/img/card-2.jpg"></ion-img>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA HIDROELÉCTRICA O HIDRÁULICA</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía hidráulica se produce mediante la gravedad y el ciclo cerrado del agua, es decir, aprovechando la fuerza del agua para poner en marcha las turbinas (que suelen encontrarse en las presas) que generan corriente eléctrica.  En zonas en las que el cauce es continuo, especialmente en lagos y ríos, la propia acción del cauce es suficiente como para que la acción sea continua, exceptuando evidentemente períodos de sequía prolongada. Para que se pueda producir electricidad las puertas de las presas tienen que estar abiertas.    </ion-card-content>
    <ion-img src="assets/img/card-3.jpg"></ion-img>
  </ion-card>  
  
</ion-content>
