

.title1{
    font-family: "Leixo";
    color:rgb(255, 255, 255);
}

ion-header{
    --ion-background-color:#8badaa;
}

ion-content{
    --ion-background-color:#dfe9ef;
}

.menu-button{
    color:#845c3d;
}

.icon {
    color:#866a54;
}

ion-button{
    --background: #b6a64a;
}

.button{
    font-family: "Dreams bold";
    //color:#845c3d;
}

.center-div{
    text-align: center;
}










